/*********************************
3.1 Logo
*********************************/

.logo_container
{
	flex-basis: 50%;
}
.logo
{
	margin-left: 7px;
}
.logo a
{
	font-family: 'Roboto Thin', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #171717;
	text-transform: uppercase;
}
