/*********************************
3.1 Logo
*********************************/

.logo_container
{
	flex-basis: 50%;
}
.logo
{
	margin-left: 7px;
}
.logo a
{
	font-family: 'Roboto Thin', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #171717;
	text-transform: uppercase;
}

.centered_logo_text
{
	height: 10em;
	position: relative;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
